@model GestordeTaras.EN.Tarea

@{
    ViewData["Title"] = "Eliminar";
}
<h5>¿Estás seguro de querer eliminar esta categoría?</h5>

   <div>
       <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridad.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoTarea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTarea.Nombre)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Proyecto.Titulo)
        </dd>
     
    </dl>

<form asp-action="Delete" id="deleteForm" method="post">
    <input type="hidden" asp-for="Id" />
</form>
</div>
