@model IEnumerable<GestordeTaras.EN.Categoria>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}

<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Categoria</h1>
<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">Categorias para clasificar las tareas que se hiran realizando</p>

<a href="#" onclick="cargarVistaCreate(); return false;" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
    <i class="fas fa-plus"></i> Crear Nueva Categoria
</a>

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 shadow-md mt-5">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3 text-xl">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th scope="col" class="px-6 py-3 text-xl">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col" class="px-6 py-3 text-center text-xl">
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="px-6 py-4 text-lg">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="px-6 py-4 text-lg">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="px-6 py-4 text-center">
                    <div class="flex justify-center">
                        <a href="#" class="flex items-center justify-center focus:outline-none text-white bg-gradient-to-r from-yellow-400 via-yellow-500 to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-3 py-2.5 me-1 mb-2 dark:focus:ring-yellow-800" onclick="cargarVistaEdit(@item.Id)">
                            <i class="fas fa-edit me-1"></i> Editar
                        </a>

                        <a href="#" class="flex items-center justify-center focus:outline-none text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2.5 me-1 mb-2 dark:focus:ring-blue-800" onclick="cargarVistaDetails(@item.Id)">
                            <i class="fas fa-eye me-1"></i> Detalles
                        </a>

                        <a href="#" class="flex items-center justify-center focus:outline-none text-white bg-gradient-to-r from-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-2.5 me-1 mb-2 dark:focus:ring-red-900" onclick="cargarVistaDelete(@item.Id)">
                            <i class="fas fa-trash-alt me-1"></i> Eliminar
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal de creación -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Crear Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="createModalContent">
                    <!-- Contenido de la vista de edición se cargará aquí -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de edición -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Editar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editModalContent">
                    <!-- Contenido de la vista de edición se cargará aquí -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de detalles -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles de la categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="detailsModalContent">
                    <!-- Contenido de la vista de edición se cargará aquí -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de eliminación -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Categoría</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="deleteModalContent">
                <!-- Contenido de la vista de eliminación se cargará aquí -->
            </div>
        </div>
    </div>
</div>


<script>

    function cargarVistaCreate() {
        $.ajax({
            url: "/Categoria/Create",
            type: "GET",
            success: function (data) {
                $("#createModalContent").html(data);
                $("#createModal").modal("show");
            }
        });
    }

    function cargarVistaEdit(id) {
        $.ajax({
            url: "/Categoria/Edit/" + id,
            type: "GET",
            success: function (data) {
                $("#editModalContent").html(data);
                $("#editModal").modal("show");
            }
        });
    }

    function cargarVistaDetails(id) {
        $.ajax({
            url: "/Categoria/DetailsPartial/" + id,
            type: "GET",
            success: function (data) {
                $("#detailsModalContent").html(data);
                $("#detailsModal").modal("show");
            }
        });
    }

    function cargarVistaDelete(id) {
        $.ajax({
            url: "/Categoria/Delete/" + id,
            type: "GET",
            success: function (data) {
                $("#deleteModalContent").html(data); // Esto muestra el contenido de la categoria
                $("#deleteModal").modal("show");
            },
            error: function () {
                alert("Error al cargar la vista de eliminación.");
            }
        });
    }


</script>

