@model IEnumerable<GestordeTaras.EN.Proyecto>
@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet"> 

}

@await Html.PartialAsync("_Alerts")


<h1 class="mb-8 mt-4 text-5xl font-extrabold dark:text-white">Proyectos</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrador"))
{
    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">
        <p>
            <a href="#" class="inline-flex items-center rounded-full bg-purple-700 px-4 py-2 text-center text-lg font-medium text-white no-underline hover:no-underline hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" onclick="cargarVistaCreate()">
                <i class="fas fa-plus mr-2"></i> Nuevo
            </a>
        </p>

        <!-- Formulario de búsqueda -->
        <form method="get" asp-action="Index" class="flex items-center">
            <div class="mr-4 flex items-center">
                <span class="mr-2">Buscar por:</span>
                <select name="filter" class="w-32 rounded-md border border-gray-300 p-2">
                    <option value="Titulo">Título</option>
                    <option value="Administrador">Administrador</option>
                </select>
            </div>
            <div class="flex items-center">
                <label for="query" class="sr-only">Ingrese el término de búsqueda:</label>
                <input type="text" name="query" class="rounded-md border border-gray-300 p-2" placeholder="Buscar..." aria-label="Ingrese el término de búsqueda" />
                <button type="submit" class="ml-2 rounded-md bg-purple-500 p-2 font-semibold text-white transition duration-200 hover:bg-purple-600">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
}


@if (Model != null && Model.Any())
{
    <div class="grid-cols-1 grid gap-4 md:grid-cols-2">
        @foreach (var item in Model)
        {
            <div class="relative mb-4 w-full rounded-lg border border-gray-300 bg-white p-6 shadow-sm dark:bg-gray-800">
                <!-- Botón principal flotante y menú desplegable -->
                <div class="absolute right-0 top-0 mr-1 mt-1">
                    @if (User.IsInRole("Administrador"))
                    {
                        <!-- Botón principal flotante -->
                        <button class="flex h-10 w-10 transform items-center justify-center rounded-full bg-gray-200 shadow-lg transition-all duration-300 hover:scale-110 hover:rotate-180 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" id="menuButton-@item.Id" onclick="toggleMenu(@item.Id)">
                            <i class="fas fa-ellipsis-v text-xl text-gray-800"></i>
                        </button>

                        <!-- Menú desplegable -->
                        <div id="menu-@item.Id" class="z-10 absolute right-0 mt-2 hidden w-36 transform rounded-lg bg-white py-2 shadow-md transition-all duration-300 ease-out">
                            <ul class="space-y-1 px-3">

                                <!-- Opción de Editar -->
                                <li class="flex cursor-pointer items-center gap-3 rounded-lg p-2 text-gray-700 transition-all duration-200 ease-in-out hover:bg-blue-500 hover:text-white active:scale-95"
                                    onclick="cargarVistaEdit(@item.Id)">
                                    <i class="fas fa-edit text-black-500"></i>
                                    <span class="font-medium">Editar</span>
                                </li>

                                <!-- Opción de Eliminar -->
                                <li class="flex cursor-pointer items-center gap-3 rounded-lg p-2 text-gray-700 transition-all duration-200 ease-in-out hover:bg-red-500 hover:text-white active:scale-95"
                                    onclick="mostrarTarjetaEliminar(@item.Id); return false;">
                                    <i class="fas fa-trash-alt text-black-500"></i>
                                    <span class="font-medium">Eliminar</span>
                                </li>
                            </ul>
                        </div>

                    }
                </div>

                <!-- Título del proyecto -->
                <h2 class="mb-4 text-center text-xl font-bold text-gray-900">@item.Titulo</h2>

                <!-- Administrador del proyecto -->
                <div class="mb-4 flex items-center justify-center">
                    <img class="border-2 mr-3 h-10 w-10 rounded-full border-gray-300" src="@item.Usuario.FotoPerfil" alt="@item.Usuario.Nombre @item.Usuario.Apellido" />
                    <p class="text-sm text-gray-500">
                        <span class="font-semibold">Administrador:</span> @item.Usuario.Nombre @item.Usuario.Apellido
                    </p>
                </div>


                <!-- Descripción -->
                <p class="mb-4 text-center text-gray-700 dark:text-gray-400">
                    @if (item.Descripcion.Length > 100)
                    {
                        <text>@item.Descripcion.Substring(0, 100)...</text>
                    }
                    else
                    {
                        <text>@item.Descripcion</text>
                    }
                </p>

                <!-- Fecha de Finalización -->
                <p class="mb-4 text-center text-sm text-gray-500">
                    <span class="font-semibold text-gray-500 dark:text-gray-400">Fecha de finalización:</span> @item.FechaFinalizacion.ToShortDateString()
                </p>

                <!-- Contador de Usuarios -->
                <div class="mb-2 flex items-center justify-center text-gray-500">
                    <i class="fas fa-users mr-2"></i>
                    <span class="text-sm">@((item.ProyectoUsuario?.Count ?? 0)) usuarios unidos</span>
                </div>

                <!-- Imágenes de miembros -->
                <div class="mb-4 flex min-h-[32px] justify-center">
                    <div class="flex -space-x-2">
                        @if (item.ProyectoUsuario != null && item.ProyectoUsuario.Any())
                        {
                            @foreach (var proyectoUsuario in item.ProyectoUsuario.Take(3))
                            {
                                <img class="border-2 h-8 w-8 rounded-full border-white"
                                     src="@proyectoUsuario.Usuario.FotoPerfil"
                                     alt="@proyectoUsuario.Usuario.Nombre" />
                            }
                            @if (item.ProyectoUsuario.Count() > 3)
                            {
                                <div class="flex h-8 w-8 items-center justify-center rounded-full bg-gray-200 text-gray-600">
                                    <span class="text-xs font-medium">+@(item.ProyectoUsuario.Count() - 3)</span>
                                </div>
                            }
                        }
                        else
                        {
                            <!-- Espacio reservado cuando no hay usuarios -->
                            <img class="opacity-0 h-8 w-8" src="" alt="placeholder" />
                        }
                    </div>
                </div>


                <!-- Botones de acción -->
                <div class="mt-4 flex justify-between">
                    <!-- Botón de Unirse -->
                    @if (User.IsInRole("Administrador"))
                    {
                        <a href="@Url.Action("Details", "Proyecto", new { id = item.Id })"
                           class="flex items-center justify-center rounded-lg border border-gray-400 px-4 py-2 text-sm font-medium text-gray-700 no-underline transition-all duration-200 ease-out hover:bg-gray-300 dark:text-gray-300 dark:hover:bg-gray-700">
                            <i class="fa-solid fa-sliders mr-4"></i> Detalles
                        </a>

                    }
                    else if (User.IsInRole("Colaborador"))
                    {
                        <a href="@Url.Action("Details", "Proyecto", new { id = item.Id })"
                           class="flex items-center justify-center rounded-lg border border-green-400 px-4 py-2 text-sm font-medium text-gray-700 no-underline transition-all duration-200 ease-out hover:bg-green-300 dark:text-gray-300 dark:hover:bg-green-700">
                            <i class="fas fa-user-plus mr-4"></i> Unirse
                        </a>

                    }
                    <!-- Botón de Ingresar -->
                    <a href="@Url.Action("Index", "Tarea", new { proyectoId = item.Id })"
                       class="flex items-center justify-center rounded-lg bg-purple-800 px-4 py-2 text-sm font-medium text-white no-underline transition-all duration-200 ease-out hover:bg-purple-600">
                        <i class="fas fa-sign-in-alt mr-4"></i> Ingresar
                    </a>
                </div>

            </div>
        }
    </div>

}
else
{
    <div class="mt-10 flex flex-col items-center justify-center">
        <img src="~/img/found.svg" alt="No hay proyectos disponibles" class="mb-4 h-36 w-36" />
        <h1 class="text-2xl font-bold text-gray-700">No hay proyectos disponibles</h1>
        <p class="mt-2 text-gray-500">Crea un nuevo proyecto para comenzar a trabajar.</p>
    </div>
}



<!-- Modal de creacion -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple-700 text-white">
                <h5 class="modal-title" id="createModalLabel">Crear Proyecto</h5>
                <button type="button" class="btn-close bg-white text-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="createModalContent">
                    <!-- Contenido de la vista de creación se cargará aquí -->
                </div>
            </div>
            <div class="modal-footer flex justify-center">
                <button type="button" class="btn btn-primary mb-2 me-2 rounded-lg bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 px-5 py-2.5 text-sm font-medium hover:bg-gradient-to-br focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 dark:focus:ring-blue-800" onclick="submitcreateForm('createForm')">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-secondary mb-2 me-2 rounded-lg bg-gray-300 px-5 py-2.5 text-base font-medium hover:bg-gray-400 focus:ring-2 focus:ring-gray-500 focus:outline-none focus:ring-opacity-50 dark:focus:ring-gray-800" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>


        </div>
    </div>
</div>

<!-- Modal de edición -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-purple-700 text-white">
                <h5 class="modal-title" id="editModalLabel">Editar Proyecto</h5>
                <button type="button" class="btn-close bg-white text-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="editModalContent">
                    <!-- Contenido de la vista de edición se cargará aquí -->
                </div>
            </div>
            <div class="modal-footer flex justify-center">
                <button type="button" class="btn btn-primary mb-2 me-2 rounded-lg bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 px-5 py-2.5 text-sm font-medium hover:bg-gradient-to-br focus:ring-2 focus:ring-purple-500 focus:outline-none focus:ring-opacity-50 dark:focus:ring-purple-800" onclick="submiteditForm('editForm')">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button type="button" class="btn btn-secondary mb-2 me-2 rounded-lg bg-gray-300 px-5 py-2.5 text-base font-medium hover:bg-gray-400 focus:ring-2 focus:ring-gray-500 focus:outline-none focus:ring-opacity-50 dark:focus:ring-gray-800" data-bs-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Tarjeta de eliminación -->
<div id="confirmDeleteCard" class="bg-opacity-60 fixed inset-0 z-50 flex hidden items-center justify-center bg-gray-800 transition-opacity duration-300">
    <div class="w-80 transform rounded-xl bg-white shadow-lg transition-all duration-300">
        <div class="p-4 pb-2 text-center">
            <h2 class="mt-4 text-lg font-semibold text-gray-900">Confirmar Eliminación</h2>
            <p class="mt-2 text-sm text-gray-500">¿Estás seguro de que deseas eliminar este proyecto? Esta acción no se puede deshacer.</p>
        </div>
        <div class="flex justify-between rounded-b-xl bg-gray-100 px-4 py-3">
            <button type="button"
                    class="flex-1 mr-1 rounded bg-gray-200 px-4 py-2 font-medium text-gray-700 transition duration-200 hover:bg-gray-300"
                    onclick="document.getElementById('confirmDeleteCard').classList.add('hidden');">
                Cancelar
            </button>
            <form id="deleteForm" method="post" asp-action="Delete" class="flex-1">
                <input type="hidden" name="Id" id="deleteProjectId" />
                <button type="submit"
                        class="flex-1 rounded bg-red-500 px-4 py-2 font-semibold text-white transition duration-200 hover:bg-red-600">
                    Eliminar
                </button>
            </form>
        </div>
    </div>
</div>


<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


<script>

    function toggleMenu(id) {
        var menu = document.getElementById('menu-' + id);
        if (menu.classList.contains('hidden')) {
            menu.classList.remove('hidden');
        } else {
            menu.classList.add('hidden');
        }
    }

    // Cierra el menú si se hace clic fuera de él
    window.addEventListener('click', function (e) {
        // Obtén todos los menús desplegables
        var allMenus = document.querySelectorAll('[id^="menu-"]');

        // Verifica si el clic no ocurrió dentro del botón o del menú
        allMenus.forEach(function (menu) {
            if (!menu.contains(e.target) && !document.getElementById('menuButton-' + menu.id.split('-')[1]).contains(e.target)) {
                menu.classList.add('hidden');
            }
        });
    });

    function handleResponse(response, isError = false) {
        // Cerrar el modal y luego mostrar el mensaje
        $('#editModal, #createModal').modal('hide'); // Asegúrate de incluir todos los IDs de los modales

        if (isError) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Hubo un problema al procesar la solicitud.',
                confirmButtonText: 'OK',
                showConfirmButton: true,
                timer: null
            });
        } else {
            if (response.success) {
                window.location.reload();
                TempData["SuccessMessage"] = response.message;
            } else {
                TempData["ErrorMessage"] = response.message;
            }
        }
    }

    function submitcreateForm(formId) { // Definición de la función para enviar el formulario mediante AJAX
        var formData = $('#' + formId).serialize();  // Recopila los datos del formulario con el ID proporcionado
        $.ajax({ //Solicitud AJAX
            url: '/Proyecto/Create', // URL de la acción Create en el controlador Proyecto
            type: 'POST',  // Método de la solicitud
            data: formData, // Datos a enviar al servidor (datos del formulario serializados)
            success: function (response) {
                handleResponse(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                handleResponse(null, true); // Maneja el error general
            }
        });
    }

    function submiteditForm(formId) { // Definición de la función para enviar el formulario mediante AJAX
        var formData = $('#' + formId).serialize(); // Recopila los datos del formulario con el ID proporcionado
        $.ajax({ //Solicitud AJAX
            url: '/Proyecto/Edit', // URL de la acción Edit en el controlador Proyecto
            type: 'POST', // Método de la solicitud
            data: formData, // Datos a enviar al servidor (datos del formulario serializados)
            success: function (response) {
                handleResponse(response);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
                handleResponse(null, true); // Maneja el error general
            }
        });
    }

    function cargarVistaCreate() { // Funcion para cargar la vista en un modal
        $.ajax({ //solicitud AJAX para obtener la vista create
            url: "/Proyecto/Create", // URL de la vista que se va a cargar
            type: "GET", // Solicitud para obtener la vista
            success: function (data) { // Función a ejecutar si la solicitud AJAX es exitosa
                $("#createModalContent").html(data); // Inserta el contenido HTML recibido en el elemento con ID "createModalContent"
                $("#createModal").modal("show"); // Muestra el modal con ID "createModal" después de cargar la vista
            }
        });
    }

    function cargarVistaEdit(id) { // Funcion para cargar la vista en un modal
        $.ajax({ //solicitud AJAX para obtener la vista edit
            url: "/Proyecto/Edit/" + id, // URL de la vista que se va a cargar
            type: "GET", // Solicitud para obtener la vista
            success: function (data) { // Función a ejecutar si la solicitud AJAX es exitosa
                $("#editModalContent").html(data); // Inserta el contenido HTML recibido en el elemento con ID "editModalContent"
                $("#editModal").modal("show"); // Muestra el modal con ID "editModal" después de cargar la vista
            }
        });
    }

    function mostrarTarjetaEliminar(proyectoId) {
        // Establecer el ID del proyecto en el campo oculto
        document.getElementById('deleteProjectId').value = proyectoId;
        // Mostrar la tarjeta de confirmación
        document.getElementById('confirmDeleteCard').classList.remove('hidden');
    }

    // Función para ocultar la tarjeta (ya está en el botón "Cancelar")
    function ocultarTarjetaEliminar() {
        document.getElementById('confirmDeleteCard').classList.add('hidden');
    }

    document.addEventListener("DOMContentLoaded", function () {
        const alertContainer = document.getElementById('alertContainer');
        if (alertContainer) {
            // Mostrar la alerta durante 5 segundos
            setTimeout(() => {
                // Desvanecer la alerta
                alertContainer.style.transition = 'opacity 0.5s ease';
                alertContainer.style.opacity = '0';
                // Esperar a que se desvanezca antes de eliminar
                setTimeout(() => alertContainer.remove(), 500);
            }, 4000); // Esperar 4 segundos
        }
    });
</script>