@model GestordeTaras.EN.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCargo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Actualizar", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-success" }) |
    <a asp-action="Index" class="btn btn-warning btn-sm">Volver Atras</a>
</div>
