@model IEnumerable<GestordeTaras.EN.Usuario>
@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
    <div class="card-header">
        Lista Usuario
    </div>
    <div class="card-body">
        <!-- Enlace para agregar un nuevo usuario -->
        <a asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="0" class="btn btn-success btn-sm">Nuevo Usuario</a>
    </div>
    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Telefono</th>
                <th>Nombre Usuario</th>
                <th>Correo</th>
                <th>Contraseña</th>
                <th>IdCargo</th>
            </tr>
        </thead>
        <tbody>
            <!-- Bucle para recorrer la lista de usuarios -->
            @foreach (var item in Model)
            {
                <tr>
                    <!-- Mostrar información de cada usuario -->
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.FechaNacimiento</td>
                    <td>@item.Telefono</td>
                    <td>@item.Nombre Usuario</td>
                    <td>@item.Correo</td>
                    <td>@item.Pass</td>
                    <td>@item.IdCargo</td>
                    <td>
                        <!-- Enlaces para editar y eliminar usuarios -->
                        <a asp-action="Usuario" asp-controller="Home" asp-route-idUsuario="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Home" asp-route-idUsuario="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>