@model GestordeTaras.EN.Usuario

<h1>Mi Perfil</h1>

@await Html.PartialAsync("_Alerts")

<!-- Botón para activar el modo de edición -->
<button id="editProfileBtn" class="btn btn-outline-primary" onclick="toggleEditMode()">Editar Perfil</button>

<form id="profileForm" class="table" method="post" asp-action="EditOwn" enctype="multipart/form-data" style="display: none;">
    <input type="hidden" asp-for="Id" />
    <table class="table">
        <thead>
            <tr>
                <th>Foto de Perfil</th> <!-- Nueva columna para la foto de perfil -->
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo electrónico</th>
                <th>Contraseña Actual</th>
                <th>Nueva Contraseña</th>
                <th>Confirmar Nueva Contraseña</th>
                <th>Teléfono</th>
                <th>Cargo</th>
                <th>Fecha de Nacimiento</th>
                <th>Status</th>
                <th>Fecha de Registro</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="flex flex-col items-center">
                        <div class="w-32 h-32 rounded-full overflow-hidden mb-2">
                            <img id="previewImage" src="@Url.Content(Model.FotoPerfil)" alt="Foto de perfil" class="w-full h-full object-cover" />
                        </div>
                        <label for="fotoPerfil" class="cursor-pointer bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors duration-300">
                            Cambiar foto
                        </label>
                        <input type="file" id="fotoPerfil" name="FotoPerfil" accept="image/*" class="hidden" onchange="previewFile()" />
                    </div>
                </td>
                <td>
                    <input type="text" asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </td>
                <td>
                    <input type="text" asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </td>
                <td>
                    <input type="text" asp-for="NombreUsuario" class="form-control" readonly />
                    <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                </td>
                <td>
                    <input type="password" name="currentPassword" class="form-control" />
                    <span class="text-danger" id="currentPasswordError"></span>
                </td>
                <td>
                    <input type="password" asp-for="Pass" class="form-control" />
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </td>
                <td>
                    <input type="password" name="ConfirmarPass" class="form-control" />
                    <span class="text-danger" id="confirmPasswordError"></span>
                </td>
                <td>
                    <input type="text" asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <select asp-for="IdCargo" class="form-control" asp-items="ViewBag.Cargos">
                            <option value="">Seleccionar</option>
                        </select>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(model => model.Cargo.Nombre) <!-- Solo lectura para Colaboradores -->
                    </td>
                }
                <td>
                    <input type="date" asp-for="FechaNacimiento" class="form-control"
                           value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                </td>
                @if (User.IsInRole("Administrador"))
                {
                    <td>
                        <select asp-for="Status">
                            <option value="1">ACTIVO</option>
                            <option value="2">INACTIVO</option>
                        </select>
                        <span asp-validation-for="Status"></span>
                    </td>
                }

                <td>@Html.DisplayFor(model => model.FechaRegistro)</td>

                <td>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-danger" onclick="toggleEditMode()">Cancelar</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<div id="profileDisplay">
    <table class="table">
        <thead>
            <tr>
                <th>Foto de Perfil</th> <!-- Nueva columna para la foto de perfil -->
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo electrónico</th>
                <th>Teléfono</th>
                <th>Cargo</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Registro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="w-24 h-24 rounded-full overflow-hidden mx-auto">
                        <img src="@Url.Content(Model.FotoPerfil)" alt="Foto de perfil" class="w-full h-full object-cover" />
                    </div>
                </td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Apellido)</td>
                <td>@Html.DisplayFor(model => model.NombreUsuario)</td>
                <td>@Html.DisplayFor(model => model.Telefono)</td>
                <td>@Html.DisplayFor(model => model.Cargo.Nombre)</td>
                <td>@Html.DisplayFor(model => model.FechaNacimiento)</td>
                <td>@Html.DisplayFor(model => model.FechaRegistro)</td>
                <td>
                    <button class="px-4 py-2 bg-red-600 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 transition duration-200"
                            onclick="document.getElementById('confirmDeleteCard').classList.remove('hidden');">
                        Eliminar Cuenta
                    </button>
                </td>

                <!-- Tarjeta de Confirmación -->
                <div id="confirmDeleteCard" class="hidden fixed inset-0 flex items-center justify-center z-50 bg-gray-900 bg-opacity-50">
                    <div class="max-w-xs rounded-lg overflow-hidden bg-white shadow-md transition-shadow duration-300">
                        <div class="p-6 mt-6">
                            <div class="flex justify-center items-center bg-red-200 rounded-full w-16 h-16 mx-auto">
                                <img src="https://cdn-icons-png.freepik.com/256/3712/3712167.png" alt="Eliminar" class="h-12 w-12 text-red-600" />
                            </div>
                            <h2 class="mt-4 text-center text-lg font-semibold text-gray-900">Confirmar Eliminación</h2>
                            <p class="mt-2 text-center text-sm text-gray-600">¿Estás seguro de que deseas eliminar tu cuenta? Esta acción no se puede deshacer.</p>
                        </div>
                        <div class="bg-gray-50 p-4 flex justify-between">
                            <button type="button"
                                    class="flex-1 mr-2 px-4 py-2 bg-gray-300 text-gray-800 font-medium rounded hover:bg-gray-400 transition duration-200"
                                    onclick="document.getElementById('confirmDeleteCard').classList.add('hidden');">
                                Cancelar
                            </button>
                            <form method="post" asp-action="DeleteOwn">
                                <button type="submit"
                                        class="flex-1 px-4 py-2 bg-red-600 text-white font-semibold rounded hover:bg-red-700 transition duration-200">
                                    Eliminar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </tr>
        </tbody>
    </table>
</div>

<script>
    function toggleEditMode() {
        const profileForm = document.getElementById('profileForm');
        const profileDisplay = document.getElementById('profileDisplay');
        const editButton = document.getElementById('editProfileBtn');

        if (profileForm.style.display === 'none') {
            profileForm.style.display = 'block';
            profileDisplay.style.display = 'none';
            editButton.style.display = 'none';
        } else {
            profileForm.style.display = 'none';
            profileDisplay.style.display = 'block';
            editButton.style.display = 'inline-block';
        }
    }

    function previewFile() {
        var preview = document.getElementById('previewImage');
        var file = document.getElementById('fotoPerfil').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "@Url.Content(Model.FotoPerfil)";
        }
    }
</script>
