@model IEnumerable<GestordeTaras.EN.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nueva Prioridad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", null, new { @class = "btn btn-primary mr-1" }) |
                    @Html.ActionLink("Details", "Details", null, new { @class = "btn btn-info mr-1" }) |
                    @Html.ActionLink("Delete", "Delete", null, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
